<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {
  font-family: Arial;
}

.coupon {
  border: 5px groove #bbb;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 80px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;

}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
</style>
</head>
<body>

<div class="coupon">
    <div class="container" >

    </div>
    <img src="netflix.jpg" alt="Avatar" style="width:50%;margin-left: 160px;">
    <div class="container" style="background-color:white">
        <h1 style="font-family:verdana;background-color:white;color: #206e6a;margin-left: 75px;margin-top: 10px;font-size: 3.7em;"><b>700<span style="font-size: 0.4em;margin-left: 50px;margin-top: 90px;color:black;">Credit Points </span></b></h1>



</div>

</body>
</html>

