<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New Loan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> New Loan </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/createEmi}" th:object="${emi}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">description</label>
                            <input type="text" th:field="*{description}" class="form-control"
                                   id="description" placeholder="description" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">amount</label>
                            <input type="text" th:field="*{amount}" class="form-control"
                                   id="amount" placeholder="rupees" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Date</label>
                            <input type="datetime-local" name="Date-start"
                                   value="2018-06-12T19:30" min="2014-01-01T00:00" max="2020-08-31T00:00"
                                   th:field="*{saveDate}" class="form-control"
                                   id="saveDate" placeholder="Date" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">tenure</label>
                            <input type="number" min="0" max="36" step="3"
                                   th:field="*{tenure}" class="form-control"
                                   id="tenure" placeholder="tenure" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                        <div>
                            <input type="hidden" id="id" th:field="*{id}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>