<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New Loan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <style>
    p.groove {border-style: groove ; background-color:#fff;color:black; width:300px;padding:10px;}


 .box label {
display: inline-block;
width: 100px;
padding: 10px;
border-radius: 15px;
border: solid 2px #ccc;
transition: all 0.3s;
color: blue;
background-color:pink;
}

.box input[type="radio"] {
display: none;
}

.box input[type="radio"]:checked + label {
border: solid 2px green;
}
</style>
</head>

<body>


<div class="container my-5" >
    <div style="background-color:rgb(27, 62, 84);color:white;padding:30px;width:680px;">
        <p class="groove">Tranferring Money To</p>
    </div>
    <div style="background-color:lightgrey;color:black;padding:20px;border-radius: 15px;width: 680px;height: 600px; ">

        <i style="font-size:40px;margin-left: 100px;" class="fa">&nbsp;&nbsp;&#xf19c;</i>
        <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ankit Dubey</h3>
    <div class="card" style="width:650px;">
        <div class="card-body">
            <div class="col-md-10" >
                <form id="regForm" action="#" th:action="@{/createEmi}" th:object="${emi}"
                      method="post">
                    <div class="row" style="margin-right:400">
                        <div class="form-group col-md-8" style="margin-right:400">
                            <label for="name" class="col-form-label">bank</label>
                            <!--<input type="text" th:field="*{description}" class="form-control"
                                   id="description" placeholder="description" />-->
                            <select id="description" name="description" th:field="*{description}" class="form-control">
                                <option value="HDFC">HDFC</option>
                                <option value="SBI">SBI</option>
                                <option value="BOI">BOI</option>
                                <option value="RBL">RBL</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">amount</label>
                            <input type="text" th:field="*{amount}" class="form-control"
                                   id="amount" placeholder="rupees" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Choose Tenure:</label>
                        </div>
                        <div class="box">
                            <input type="radio" id="tenure1" name="tenure1"  value="3" th:field="*{tenure}">
                            <label for="tenure1">3 Months</label>

                            <input type="radio" id="tenure2" name="tenure2"  value="6" th:field="*{tenure}">
                            <label for="tenure2">6 Months</label>

                            <input type="radio" id="tenure3" name="tenure3"  value="9" th:field="*{tenure}">
                            <label for="tenure3">9 Months</label>

                            <input type="radio" id="tenure4" name="tenure4"  value="12" th:field="*{tenure}">
                            <label for="tenure4">12 Months</label>

                            <input type="radio" id="tenure5" name="tenure5"  value="18" th:field="*{tenure}">
                            <label for="tenure5">18 Months</label>

                            <input type="radio" id="tenure6" name="tenure6"  value="24" th:field="*{tenure}">
                            <label for="tenure6">24 Months</label>

                            <input type="radio" id="tenure7" name="tenure7"  value="36" th:field="*{tenure}">
                            <label for="tenure7">36 Months</label>
                        </div>
                        <script>

$(document).ready(function(){
  $("input[type='radio']").click(function(){
if($(this).val()=="3")
{
$("#emi").text("12% interest");
}else
if($(this).val()=="6")
{
$("#emi").text("12% interest");
}else
if($(this).val()=="9")
{
$("#emi").text("12% interest");
}else
if($(this).val()=="12")
{
$("#emi").text("13% interest");
}else
if($(this).val()=="18")
{
$("#emi").text("13% interest");
}else
if($(this).val()=="24")
{
$("#emi").text("15% interest");
}else
if($(this).val()=="36")
{
$("#emi").text("18% interest");
}
});
});
</script>
                        <div><p id="emi" style="color:red;font-size:20px;width:500px;"></p></div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                        <div>
                            <input type="hidden" id="id" th:field="*{id}">
                        </div>
                        <div>
                            <input type="hidden" id="customerid" th:value="${id}" th:field="*{customer.id}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>

