<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

.coup {
font-family: Arial;
  border: 5px groove #bbb;
  border-radius: 15px;
  max-width: 250px;
  margin-top: 80px;
}

.complex {
  padding: 2px 8px;
  background-color: #f1f1f1;

}
</style>
</head>
<body>

<div class="coup">
    <img src="zomato.jpg" alt="Avatar" style="width:50%;margin-left: 80px;border-radius: 50%;">
    <div class="complex" style="background-color:white">
        <h1 style="font-family:verdana;background-color:white;color:#206e6a;margin-left: 75px;margin-top: 10px;font-size: 3.7em;"><b>700<span style="font-size: 0.4em;margin-left: 50px;margin-top: 90px;color:black;"><br>Credit Points </span></b></h1>



</div>

</body>
</html>

